#LLM_API_BASE=https://api.openai.com/v1
LLM_API_BASE=https://llm.ilaas.fr/v1

# ILAAS
#MODEL=mistral-small-3.2-24b
#MODEL=qwen-3.6-35b-instruct
#MODEL=mistral-medium-250523
#MODEL=gpt-oss-120b
#MODEL=llama-3.3-70b
#MODEL=gemma-4-31b

# OpenAI
#MODEL=gpt-4o-mini
MODEL=gpt-5-mini

API_KEY=<your-api-key>

NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<your-password>

