LLM_PROVIDER=ilaas
#LLM_PROVIDER=openai

ILAAS_API_URL=https://llm.ilaas.fr/v1
ILAAS_API_KEY=<your-api-key>
#ILAAS_API_MODEL=gemma-4-31b
ILAAS_API_MODEL=mistral-medium-250523

OPENAI_API_KEY=<your-api-key>
OPENAI_MODEL=gpt-5-mini

NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<your-password>

